.mainBody{
    background-color: #fff;
}
.mainHeading{
    font-size: 22px;
    color: #1c85da;
    background-color: #fdfeff;
    padding: 8px 12px 8px 12px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(163,163,163,1);
    -moz-box-shadow: 2px 2px 4px 1px rgba(163,163,163,1);
    box-shadow: 2px 2px 4px 1px rgba(163,163,163,1);
}
.menuSpace{
    float: right;
    margin-top: 12px;
    margin-right: 42px;
}
.logoSpace{
    display: inline;
    cursor: pointer;
}
.menuSpace ul{
    display: inline;
}
.menuSpace ul li{
    display: inline;
    margin: 0px 12px;
    cursor: pointer;
}
#spinnerLoad{
    position: absolute;
    top: 50%;
    left: 50%;
}
#spinnerLoad i, #spinnerLoad svg{
    font-size: 3em;
    color: #333;
}
.dataRepBg{
    height: auto;
    /* height: 120px; */
    /* background-image: url('img/dataViz.png'); */
}
.dataRepImg{
    margin: 6px 0px;
}
.dataRepBg h2{
    text-align: center;
    color: #607D8B;
    font-weight: 400;
    font-size: 54px;
    line-height: 2.25 !important;
    font-weight: 300;
}
.dataRepBg img{
    height: 82px;
    width: 100%;
}
.hero-boxes-container {
    max-width: 1230px;
    margin: 0 auto;
    margin-top: 12px;
}
.Box {
    background-color: #f7f7f7;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.hero-box{
    width: 402px;
    height: 285px;
    padding: 32px;
    margin: 4px;
    float: left;
    text-align: center;
    opacity: 0.8;
}
.hero-box:hover{
    box-shadow: 1px 1px gray;
    transform: scale(1.03);
    opacity: 1;
}
.hero-box a:hover{
    text-decoration: none;
}
.hero-box .octicon-heart {
    fill: #DC3545;
}
.hero-box-content.two-line {
    width: 230px;
    margin: 0 auto;
}
.hero-box-content h2 {
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: center;
    color: #24292e;
    font-size: 38px;
    font-weight: 300;
}
.hero-box .hero-box-icon svg{
    height: 80px;
    width: 70px;
}
.hero-box:nth-child(1) .hero-box-icon svg{
    color: #795548;
}
.hero-box:nth-child(2) .hero-box-icon svg{
    color: #2196F3;
}
.hero-box:nth-child(3) .hero-box-icon svg{
    color: #4CAF50;
}
.hero-box-content span .octicon-chevron-right {
    fill: #0366d6;
}
.octicon {
    vertical-align: text-bottom;
}